body {
  background-color: white;
}

.bg {
  width: 100%;
  min-height: 600px;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #cccccc;
}
#homebg {
  background-image: url("../images/coffee.jpg");
}
#contactbg {
  background-image: url("../images/contact.jpg");
}
#contactbg span {
  position: absolute;
  text-align: center;
  margin-top: 250px;
  width: 98%;
  font-family: "Lato", sans-serif;
  font-size: 50px;
  letter-spacing: 8px;
  color: white;
  font-weight: 800;
}
/*header ----------------------------*/
header {
  background-color: white;
  width: 100%;
  height: 90px;
}
#logo {
  color: black;
  padding: 20px;
  margin: 0;
  top: 0;
  font-family: "Cinzel", serif;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
}
.nav {
  letter-spacing: 1px;
  font-size: 1.1em;
  background-color: white;
}
.nav li {
  display: inline-block;
  padding: 20px 0px;
  background-color: white;
}
.nav a {
  color: black;
  text-decoration: none;
  font-family: "Lato", sans-serif;
}
.nav a:hover {
  color: #bbb;
  text-decoration: none;
  font-family: "Lato", sans-serif;
}
/* columns ----------------------------------------*/
.col-3 {
  width: 33.33%;
}
.col-2 {
  width: 50%;
}
.col-4 {
  width: 25%;
}
.col-6 {
  width: 16.66%;
}
.col-12 {
  width: 8.33%;
}
/* some classes ----------------------------*/
.container {
  max-width: 960px;
  margin: 0 auto;
}
.clear {
  clear: both;
}
.center {
  text-align: center;
}
.lfloat {
  float: left;
}

/* home page gallery -----------------------------*/
#gallerySection {
  margin-top: 100px;
}
div.gallery {
  box-sizing: border-box;
  padding: 10px;
}
.gallery img {
  width: 100%;
  height: auto;
  cursor: pointer;
}
.gallery h3 {
  font-family: "Lato", sans-serif;
  text-align: center;
  letter-spacing: 2px;
  font-size: 16px;
  font-weight: 500;
}
/* contact form ----------------------------------*/
article {
  padding: 20px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 100;
  line-height: 1.6;
}
#formArticle {
  margin-top: 80px;
}
form {
  font-family: "Lato", sans-serif;
}
.form-wrapper {
  padding: 20px;
}
.form-group {
  display: flex;
  justify-content: flex-end;
  padding: 0;
}
.form-group h3 {
  padding: 30px 0 10px 0;
  flex: 1;
  font-size: 18px;
  font-weight: 100;
  margin: 0;
}
#name {
  padding-top: 0;
}
.form-group input {
  flex: 1;
  padding: 15px 10px;
  margin: 5px 0px;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.form-group textarea {
  flex: 1;
  padding: 10px;
  margin-bottom: 20px;
  height: 150px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 3px;
  background-color: rgb(248, 248, 248);
  font-size: 16px;
}

input[type="submit"] {
  flex: 0.25;
  background-color: white;
  border: 2px solid black;
  color: black;
  font-size: 16px;
  cursor: pointer;
  border-radius: 0px;
  font-family: "Lato", sans-serif;
}
input[type="submit"]:hover {
  flex: 0.25;
  background-color: black;
  border: 2px solid black;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 0px;
  font-family: "Lato", sans-serif;
}
/* map ----------------------------------------*/
.map {
  padding: 20px;
}
/* footer -------------------------------------*/
footer {
  text-align: center;
  padding: 100px;
  font-family: "Lato", sans-serif;
}
/* media queries -------------------------------------*/
@media screen and (max-width: 1200px) {
  #logo {
    font-size: 18px;
  }
  .nav li {
    width: 16.66%;
  }
  .navfiller {
    width: 33.33%;
  }
}
@media screen and (max-width: 600px) {
  [class*="col-"] {
    width: 100%;
  }
  .nav li {
    width: 100%;
  }
  .nav a {
    font-size: 14px;
  }
  .bg {
    min-height: 300px;
    background-attachment: scroll;
  }
  .navfiller {
    height: 0;
  }
  #contactbg span {
    position: absolute;
    text-align: center;
    margin-top: 120px;
    font-size: 40px;
  }

  header {
    width: 90%
  }
}